@model OneStore.Models.Roupa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Roupa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoupaNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoupaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoupaDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoupaDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoupaPreco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoupaPreco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoupaUrlImagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoupaUrlImagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoupaDestaque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoupaDestaque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaDescricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RoupaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
